<h1>Hello to our form</h1>

<!-- If ngModel is used within a form tag, either the name attribute must be set or
the form control must be defined as 'standalone' in ngModelOptions. Example 1:
<input [(ngModel)]="person.firstName" name="first" /> Example 2:
<input [(ngModel)]="person.firstName" [ngModelOptions]="{ standalone: true }" /> -->

<form action="">
  <input
    type="text"
    placeholder="please enter your name"
    [(ngModel)]="name"
    [ngModelOptions]="{ standalone: true }"
  />
  <input
    type="email"
    placeholder="please enter your mail"
    [(ngModel)]="email"
    [ngModelOptions]="{ standalone: true }"
  />
</form>

<hr />
<h1>Your name : {{ name }}</h1>
<h1>Your email : {{ email }}</h1>
